.app-layout {
  min-height: 100vh;
  background: #fcf8f6;
  padding: 88px 88px;
}

.main-content {
  display: flex;
  gap: 32px;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 1216px;
  margin: 0 auto;
}
